body {
    background: linear-gradient(90deg, #00a6ff, #1990e6, #237ace, #2665b5, #26509c, #243d84, #1f2a6b, #191854 90%), url("../images/pixelated.jpg"); /* The least supported option. */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
}

main {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.skill-box {
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 8px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.skill svg {
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.548));
    height: 50px;
    width: 50px;
    margin: 5px 10px 25px 10px;
  }

.skill {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.about-section svg {
    width: 50px;
    height: 50px;
}

#about-skills {
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.abouticons {
    font-size: 4rem;
    margin: 10px;
}

section {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
}

.collapse-back {
    background-color: #00000063;
    padding: 0 20px;
    margin-top: 5px;
}

.navbar-toggler:active {
    outline: 0;
    border: 0;
}


.navlinks a {
    margin-right: 20px;
    display: block;
    background-color: red;
}

.navlinks {
    display: flex;
    height: 100%;
    border: 1px solid red;
}

header h2 {
    color: white;
    margin-top: 40px;
    font-size: 2rem;
    word-wrap: normal;
    margin-bottom: 0;
    width: 100%;
}

.aboutmebox {
    height: auto;
    width: 70%;
}

.aboutme {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 1rem;
}

header {
    height: auto;
    background: none;
    min-height: 700px;
    padding: 100px 50px 50px 50px;
    margin-bottom: 100px;
    align-items: flex-start;
}

.header-left {
    width: 50%;
}

.header-right {
    width: 50%;
}

#portfoliobtn {
    margin-top: 15px;
    width: 130px;
    background-color: #08c99f;
    color: white;
    border: 1px solid #08c99f;
    outline: none;
    padding: 5px 10px;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
}

#portfoliobtn:hover {
    background-color: white;
    color: #08c99f;
    border-color: white;
}

#githubbtn {
    margin-top: 15px;
    width: 160px;
    background-color: #08c99f;
    color: white;
    border: 1px solid #08c99f;
    outline: none;
    padding: 5px 10px;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
}

#githubbtn:hover {
    background-color: white;
    color: #08c99f;
    border-color: white;
}

.btnbox {
    display: flex;
    width: 310px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 2;
}


.languages {
    display: flex;
    width: 600px;
    margin-top: 10px;
}

.skills-languages ul {
    margin-left: 20px;
}

.intermediate, .learning {
    margin-left: 50px;
}

.about-section {
    margin: 0 auto 40px auto;
    background-color: white;
    border-radius: 15px;
    padding: 0 30px 15px 30px;
    width: 90%;
}

.about-section h2 {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.whoami ul {
    list-style-type: none;
    margin-left: 20px;
}

main h2 {
    margin-top: 40px;
}

/* Blog section */
.blog-section-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.blogposts {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: flex-start;
}

section h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Great Vibes', sans-serif;
    font-weight: 300;
}

hr.sep-3 {
    margin-top: 0px;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(to right, #ffffff, #08e27c, #ffffff);
  }
  hr.sep-3::after {
    content: '§';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    padding: 0 5px;
    background-color: white;
  }


.blogpost-box {
	display: flex;
	flex-direction: column;
	width: 350px;
    margin: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.blogpost-box-title {
    font-size: 1.1rem;
}

.blogpost-box-title:hover {
    color: #08c99f;   
}

.blogpost-box-img {
	width: 100%;
    height: auto;
}

.blogpost-box-head {
    line-height: 1.5;
}

.blogpost-box-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blogpost-box-title {
    transition: .5s ease;
    line-height: 1.2;
    margin-bottom: 5px;
}

.blogpost-box-tinydetails {
    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 0px;
    font-size: .8rem;
}


.blogpost-box-tinydetails a {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 15px;
    color: #797979;
}

.blogpost-box-tinydetails p {
    margin-left: 5px;
}

.bloglink {
    color: #797979;
    display: flex;
    align-items: center;
}

.bloglink:hover {
    color:#08c99f;
}


.blogpost-box-description {
    font-size: .9rem;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blogpost-box-readmore {
    font-size: .9rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
}



.text-chev {
    font-size: 1.2rem;
    color: #08c99f;
}

.blogpost-box-readmore-container {
    display: flex;
    align-items: center;
}

@media (min-width: 800px) and (max-width: 1220px) {
    .blogpost-box {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 15px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
}

@media (max-width: 799px) {
    .blogpost-box {
        width: 90%;
    }
}

/* Small mobile view */
@media (max-width: 480px) {
    .blogpost-box-tinydetails {
        display: none;
    }
    .aboutmebox {
        width: 95%;
        margin: 0 auto;
        padding-right: 20px;
    }

    h2 {
        font-size: 24px !important;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btnbox {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Large mobile view */
@media (min-width: 481px) and (max-width: 768px) {
    .aboutmebox {
        width: 95%;
        margin: 0 auto;
        padding-right: 20px;
    }

    h2 {
        font-size: 20px;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Tablet view? */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Desktop view */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Television/large desktop view */
@media (min-width: 1201px) {

}