body {
    background-color: #fcfcfc;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
}

ol {
    margin-top: 10px;
}

p, blockquote, ol, ul, li {
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
}



.active {
    color: #08c99f;
    cursor: default;
}

.tagactive {
    color:white;
    background-color:rgb(8, 201, 159);
    border: 1px solid rgb(8, 201, 159);
}


.pagecontent {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 40px auto;
}

.blogpost-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    width: 608px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.blogpost {
    background-color: white;
    padding: 20px 15px;
    border-radius: 0;
    margin-bottom: 20px;
}

.blogpost-header, .blogpost-description, .blogpost-readmore {
    padding-left: 10px;
    padding-right: 10px;
}

.blogpost-content-image {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px 5px;
    background-color: white;
}

.blogpost-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.blogpost-image img {
    width: 100%;
    vertical-align: top;
}

.blogpost-image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.blogpost-image:hover:after {
    opacity: 0.8;
}

.img-ul {
    list-style-type: none;
    margin: 0 !important;
    background-color: black;
    padding: 0 !important;
}

.img-ul li {
    margin: 0 !important;
    padding: 0 !important;
}


.blogpost-overlay {
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;

  }


  .blogpost-image:hover .blogpost-overlay{
    opacity: 1;
  }
.blogcat {
    margin-left: 10px;
}

.blogdate, .blogcategory {
    margin: 0 5px;
}

.blogtitle {
    font-size: 1.5rem;
}

.pag {
    border: 1px solid red;
}

.blogpost-description {
    display: inline-block;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
}



.tagbar {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    background-color: #ebeaea;
}

.maintag {
    text-decoration: none;
    color: #000000;
    background-color: #fdfdfd;
    padding: 0 8px;
    border: 1px solid #fdfdfd;
    margin: 3px 1px;
    display: inline-block;
    font-size: .75rem;
    transition: .4s ease;
}

.maintag:hover {
    background-color: rgb(8, 201, 159);
    border: 1px solid rgb(8, 201, 159);
    color: #fdfdfd !important;
}

/* Main/General */
body, html {
    background-color: #f5f5f5;
}

h3 {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

h4 {
    margin-bottom: 10px;
    margin-top: 30px;
}


/* Containers */

.pagecontent {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/* Blog post (left side) */

/* Blog header */
.blogcat {
    margin-left: 10px;
}

.blogimg {
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 5px solid #2a9688;
}

.tinydetails {
    display: flex;
    align-content: center;
    color: #333333;
    margin-top: 0px;

}

.tinydetails p {
    font-size: .9rem;
}

.blogdate, .blogcategory {
    margin: 0 5px;
}

.bloglink {
    text-decoration: none;
    color: #353535;
    display: flex;
    align-items: center;
}

.bloglink:hover {
    color:rgb(8, 201, 159);
}


/* Blog post */
.blogpost {
    width: 608px;
    background: white;
    border-radius: 0;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.blogpost-link {
    color: rgb(8, 201, 159);
    transition: 0.5s ease !important;
}

.blogpost-link:hover {
    color: black !important;
}

.blogpost-toc {
    margin-left: 20px;
    margin-top: 5px;
}


/* Tag bar */
.tagbar {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    background-color: #ebeaea;
}

.maintag {
    text-decoration: none;
    color: #000000;
    background-color: #fdfdfd;
    padding: 0 8px;
    border: 1px solid #fdfdfd;
    margin: 3px 1px;
    display: inline-block;
    font-size: .8rem;
    transition: .4s ease;
}

.maintag:hover {
    background-color: rgb(8, 201, 159);
    border: 1px solid rgb(8, 201, 159);
    color: #fdfdfd !important;
}

/* Beneath blog post */
.back a, .forward a {
    display: flex;
    align-items: center;
}

.back p {
    margin-left: 8px;
    font-size: .9rem;
}

.back a {
    text-decoration: none;
    color: #000000;
}

.back a:hover {
    color:rgb(8, 201, 159);
}

.forward p {
    margin-right: 8px;
    font-size: .9rem;
}

.forward a {
    text-decoration: none;
    color: #000000;
}

.forward a:hover {
    color:rgb(8, 201, 159);
}

.backforward {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.socialbar {
    margin-left: 5px;
}

.socialbar a {
    color: #858585;
    margin: 0 3px;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.socialbar a:hover {
    color: rgb(8, 201, 159);
}


.blogtext h3, .blogtext p {
    margin-top: 10px;
}

.blogtext li {
    margin-left: 10px;
}

.blogpost ul, .blogpost li {
    margin-left: 15px;
}

.blogtext h3 {
    margin-top: 30px;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}

.wordcode{
    background-color:rgb(37, 40, 49);
    color: white;
    border-radius: 3px;
    padding: 3px 6px;
    font-size: .8em;
}

.widecode {
    color: white;
    line-height: 1.5;
    background-color:rgb(37, 40, 49);
    padding: 12px 15px;
    font-size: .8em;
    border-radius: 0px;
    width: auto;
    display: block;
    border-left: 5px solid #3c467a;
    margin-bottom: 20px;
}

.redcode {
    background-color:rgb(236, 211, 211);
    padding: 20px 15px;
    font-size: 1em;
    width: auto;
    display: block;
    border-left: 5px solid #be0000;
    margin: 20px 0px;
}

.code1 {
    color: #fa7676;
}

.code2 {
    color: #82c1ff;
}

.code3 {
    color: #c69aff;
}

.code4 {
    color: #ffa149;
}

.comment {
    color: #f19c1c;
}

.disabled {
    color: #b9b9b9;
    cursor:default;
}


.disabled:hover {
    color: #b9b9b9;
    cursor: default;
}

blockquote {
    font-style: italic;
    border-left: 5px solid rgb(8, 201, 159);
    padding-left: 15px;
    line-height: 1.4;
    font-size: .9rem;
}

.blogimg-number {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

/* Small mobile view */
@media (max-width: 480px) {

}

/* Large mobile view */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Tablet view? */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Desktop view */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Television/large desktop view */
@media (min-width: 1201px) {

}