.hero-background {
  filter: blur(5px);
}

.skills-row {
  //   background: rgba(255, 255, 255, 0.404);
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.skills-row i {
  font-size: 60px;
  //   color: white;
}

.skills-row img {
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.548));
  width: 75px;
  margin: 5px 10px 25px 10px;
}

.skills-row img.large {
  width: 200px;
}

.social-icons-linkedin:hover {
  color: #0072b1;
}
